.container{
    background-color: #4d94ff; 
    padding: 15px 25px;
    display: inline-block;
    position: absolute;
    top:50%;
    left: 50%;


}
.btn {
    text-decoration: none;
    color: white;
}
.badge{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    bottom:70%;
    left: 87%;
  
}